.wd-background-color-black {
    background-color: black;
}
.wd-background-color-white {
    background-color: white;
}

.wd-font {
    font-family: Arial, system-ui;
}
.wd-font-12px {
    font-size: 12px;
}
.wd-font-15px {
    font-size: 15px;
}
.wd-font-13px {
    font-size: 13px;
}
.wd-font-14px {
    font-size: 14px;
}
.wd-font-gray {
    color: gray;
}
.wd-font-white {
    color: white;
}
.wd-font-110-118-125 {
    color: rgb(110, 118, 125);
}
.wd-font-bold {
    font-weight: bold;
}

.wd-border-color {
    border-width: 1px;
    border-color: rgb(70, 70, 70);
}

.wd-border {
    border-width: 1px;
    border-color: rgb(70, 70, 70);
    border-style: solid;
    background-color: #383838;
}
.wd-no-border {
    border: none;
}
.wd-border-top-style {
    border-top-style: solid;
}
.wd-border-right-style {
    border-right-style: solid;
}
.wd-border-bottom-style {
    border-bottom-style: solid;
}
.wd-border-left-style {
    border-left-style: solid;
}

.wd-border-width-8px {
    width: 8px;
}
.wd-border-radius {
    border-style: solid;
    border-radius: 15%;
    border-width: 1px;
    border-color: rgb(70, 70, 70);
}
.wd-border-top-left-radius {
    border-top-left-radius: 15%;
}
.wd-border-top-right-radius {
    border-top-right-radius: 15%;
}
.wd-border-bottom-left-radius {
    border-bottom-left-radius: 5%;
}
.wd-border-bottom-right-radius {
    border-bottom-right-radius: 5%;
}

.wd-margin-top-12px {
    margin-top: 12px;
}
.wd-margin-bottom-12px {
    margin-bottom: 12px;
}
.wd-margin-left-12px {
    margin-left: 12px;
}
.wd-margin-left-16px {
    margin-left: 16px;
}
.wd-margin-right-16px {
    margin-right: 16px;
}


.wd-padding-left-12px {
    padding-left: 12px;
}
.wd-padding-bottom-12px {
    padding-bottom: 12px;
}
.wd-padding-all-16px {
    padding: 16px 16px 16px 16px;
}

.wd-full-width {
    width: 100%;
}

.wd-flex {
    display: flex;
}
.wd-3-dots {
    color: gray;
    float: right;
}

.wd-float-right {
    float: right;
}
.wd-float-left {
    float: left;
}
.wd-show-more {
    text-decoration: none;
}

.wd-profile-img {
    width: 45px;
    height: 45px;
}
.wd-suggested-post-img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}